.search {
    padding-right: 5px;
    margin-left: 126px;

    display: flex;
    align-items: center;
    border: 1px solid #A78C70;
    width: 327px;
    height: 40px;
}

.inputHeader {
    width: 327px;
    padding-left: 20px;
    padding-right: 5px;

    font-family: Avenir55;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;

    letter-spacing: 0.05em;

    color: rgba(167, 140, 112, 1);
    
}

::placeholder {
    font-family: Avenir55;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;

    letter-spacing: 0.05em;

    color: rgba(167, 140, 112, 0.6);
}