
.headerMenu {
    display: flex;

    height: 150px;
    padding: 24px 82px 25px 84px;
    align-items: center;
    border: 1px solid gray;
}

.logo {
    
}

.nav-menu {
    max-width: 1017px;
    margin-left: 34px;
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    /* column-gap: 30px; */
}

.nav-menu__item {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid rgba(60, 43, 35, 0.5);

    /* font-family: 'Avenir LT 55 Roman'; */
    font-family: Avenir55;

    font-weight: 400;
    font-size: 18px;
    line-height: 19px;

    letter-spacing: 0.05em;
    
    color: #3C2B23;
}