.nav-menu {
    width: 1017px;
    margin-left: 34px;
    list-style: none;
    display: flex;
    /* justify-content: stretch; */
    flex-wrap: wrap;
    row-gap: 5px;

}

.nav-menu__item {
    padding-right: 19px;
    padding-left: 19px;    
    border-right: 1px solid rgba(60, 43, 35, 0.5);

    /* font-family: 'Avenir LT 55 Roman'; */
    font-family: Avenir55;

    font-weight: 400;
    font-size: 18px;
    line-height: 19px;

    letter-spacing: 0.05em;
    
    color: #3C2B23;

    transition: 0.3s ease-in;
}

.nav-menu__item:hover {
    color: #A78C70;
    
}