.AdvantageItem__content {
    max-width: 340px;
    height: 217px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.big img {
    width: 60px;
    height: 60px;
}

.small img {
    width: 80px;
    height: 80px;    
}

.title-big {
    font-family: Avenir65;
    width: 298px;
    font-weight: 700;
    font-size: 22px;
    line-height: 137.3%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #3C2B23;

    white-space: pre-line;
}

.title-small {
    font-family: Avenir65;
    width: 195px;
    font-weight: 700;
    font-size: 20px;
    line-height: 137.3%;

    text-align: center;
    letter-spacing: 0.02em;

    color:  #5C473D;

    white-space: pre-line;
}

.subtitle {
    font-family: Avenir35;
    font-weight: 300;
    font-size: 17px;
    line-height: 151.8%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #3C2B23;
}